* {
	background-color: rgb(41, 41, 41);
	color: white;
}

body {
	display: flex;
}

#start {
	background-color: purple;
	cursor: pointer;
	margin: 0 auto;
	min-width: 200px;
	min-height: 100px;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}
#remove-display {
	display: none;
}

#display {
	display: block;
}

#correct {
	color: green;
}

#incorrect {
	color: red;
}

#disable {
	pointer-events: none;
	opacity: 0.7;
}

.center {
	text-align: center;
}

#container,
#quiz,
#results,
#high-score-input {
	font-size: 200%;
}

#timer {
	font-size: 125%;
}

h2 {
	font-size: 300%;
}

button {
	display: flex;
	justify-items: center;
}

ul {
	list-style-type: none;
}
